<!DOCTYPE html>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">home</a>
    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="link1.html">Link 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/link2">Link 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/link3">Link 3</a>
      </li>
    </ul>
  </nav>
  <div class="jumbotron">
    <h1 class="text-center">Welcome to my Angular course number 4</h1>
  </div>

  <div class="container">
    <div class="row">
      <div class="col col-12 order-2 col-md-5 order-md-1 my-2 d-flex justify-content-center">
        <form>
          <input type="submit" value="Add to list" (click)="GuestCustom()">
        </form>
      </div>
      <div class="col order-1 col-md-5 order-md-2">
        <div class="container">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <button class="mb-3 btn btn-primary" (click)="createGuest()">Generate more Guests</button>
            </div>
          </div>
          <div class="row mb-2">
            <div class="col d-flex justify-content-center">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <button class="btn btn-secondary active" name="viewList" id="viewList" checked (click)="changeView()">
                  List</button>
                <button class="btn btn-secondary" name="viewTable" id="viewTable" (click)="changeView()"> Table
                </button>
              </div>
            </div>
          </div>
          <div *ngIf="modePresentation == 'list'; else table">
            <div class="row" *ngFor="let guest of guests">
              <div class="col px-0 d-flex justify-content-center">
                <p class="my-0">{{guest.name}} {{guest.lastName}} {{guest.relationship}} with {{guest.years}} years </p>
              </div>
            </div>
          </div>
          <ng-template #table>
            <div class="col px-0 d-flex justify-content-center">
              <p class="my-0">
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">LastName</th>
                    <th scope="col">relationship</th>
                    <th scope="col">Age</th>
                  </tr>
                </thead>
                <tbody *ngFor="let guest of guests">
                  <tr>
                    <th scope="row">{{guest.name}}</th>
                    <td>{{guest.lastName}}</td>
                    <td>{{guest.relationship}}</td>
                    <td>{{guest.years}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</body>